#myDialog {
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  border: 0;
  background: rgba(209, 209, 209, 0.9);
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 600px;
  opacity: 1;
}

td {
  padding: 5px;
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  margin: 10px;
}

#dialogInfoPokemon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.dialog-button {
  border: none;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  background: #f1f1f1;
  cursor: pointer;
}

#showEvolutionChains{
  display: flex;
    text-align: center;
    padding-top: 30px;
    justify-content: space-evenly;
}

.dialog-button:hover {
  background: #ccc;
  cursor: pointer;
  border: 0.2px solid #f1f1f1;
}

#pokemon-chain-img{
  height: 100px;
  width: auto;
  padding: 5px;
}

@media screen and (max-width:400px) {
  progress{
    inline-size: 6em;
  }

  #pokemon-chain-img {
    height: 65px;
  }

  .poke-chain-list h4{
 font-size: 14px;
}
}